<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
<body>
<h1> <center>Dobrex</center></h1>
<br/>

<a href="/meals"><h2>Potrawy</h2></h2></a>

    <div style="width: 600px; margin: auto; border: 1px #ccc solid; padding: 30px">
        <h1><center>Dobrex</center></h1>
        <a href="/miasta">Wyswietl miasta</a><br>
        <a href="/meals">Potrawy</a>
    </div>
</body>
</html>