<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meals</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div style="width: 30%; padding-left: 40px ">
<h1>Posiłki</h1>
<br/>

    <div th:each="meal:${meals}">
        <h4 th:text="${meal.name}"></h4>
        <img th:src="${meal.imageUrl}" height="102" width="102"/>
        <p th:text="'Cena ' + ${meal.price}+ ' zł'"></p>
    </div>

</div>

</body>
</html>